
table {border:0;}
p {margin:0}
A.sidebarlink {FONT-SIZE:11px;LINE-HEIGHT:13px}
.largebody {FONT-SIZE:12px;}
.smallbody {FONT-SIZE:11px;}
.smallbodygrey {FONT-SIZE:11px;COLOR:#999999}
.smallbodybold {FONT-WEIGHT:bold;FONT-SIZE:11px;TEXT-DECORATION:none}
.largebodybold {FONT-WEIGHT:bold;FONT-SIZE:12px;TEXT-DECORATION:none}
.largebodylist {MARGIN-TOP:0px;FONT-SIZE:12px;MARGIN-BOTTOM:0px}
.greyheading {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#666666}
.grey {FONT-SIZE:11px;COLOR:#666666}
.greybold {FONT-WEIGHT:bold;COLOR:#666666}
.red {COLOR:#ff0000}
.alertlargebody {FONT-SIZE:12px;COLOR:#ff0000}
.alertlargebodybold {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#ff0000}
.identifier {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#666666}
.heading {FONT-WEIGHT:bold;FONT-SIZE:16px;COLOR:#000000;FONT-STYLE:normal;}
.heading1 {FONT-WEIGHT:bold;FONT-SIZE:16px;COLOR:#000000;FONT-STYLE:normal;}
.middleheader {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#000000;FONT-STYLE:normal;}
.lightgray {COLOR:#999999;}
.lightgraybold {FONT-WEIGHT:bold;COLOR:#999999;}
.darkgray {FONT-WEIGHT:normal;FONT-SIZE:11px;COLOR:#666666;FONT-STYLE:normal;}
.darkgraybold {FONT-WEIGHT:bold;FONT-SIZE:11px;COLOR:#666666;FONT-STYLE:normal;}
.logout {FONT-WEIGHT:normal;FONT-SIZE:10px;COLOR:#999999;FONT-STYLE:normal;}
.black {COLOR:#000000;}
.blue {COLOR:#0033cc;}
.grey {COLOR:#666666;}
.green {COLOR:#009933;}
.heading2 {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#000000;FONT-STYLE:normal;}
.columnheading {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#000000;FONT-STYLE:normal;}
.greyheading {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#666666;}
.light {FONT-WEIGHT:normal;FONT-SIZE:11px;COLOR:#999999;FONT-STYLE:normal;}
.lightbold {FONT-WEIGHT:bold;FONT-SIZE:11px;COLOR:#999999;FONT-STYLE:normal;}
.dark {FONT-WEIGHT:normal;FONT-SIZE:11px;COLOR:#666666;FONT-STYLE:normal;}
.darkbold {FONT-WEIGHT:bold;FONT-SIZE:11px;COLOR:#666666;FONT-STYLE:normal;}
.sidebarheading1 {FONT-WEIGHT:bold;FONT-SIZE:12px;TEXT-TRANSFORM:none;COLOR:#666666;FONT-STYLE:normal;}
.largebodylist {MARGIN-TOP:0px;FONT-SIZE:12px;MARGIN-BOTTOM:0px;}
.smallbodylist {MARGIN-TOP:0px;FONT-SIZE:11px;MARGIN-BOTTOM:0px;}
A:link {TEXT-DECORATION:underline}
A:visited {TEXT-DECORATION:underline}
A:hover {TEXT-DECORATION:underline}
A:active {TEXT-DECORATION:underline}
A.topnavlink:link {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.topnavlink:visited {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.topnavlink:hover {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:underline}
A.topnavlink:active {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.toolbar:link {COLOR:#666666;TEXT-DECORATION:none}
A.toolbar:visited {COLOR:#666666;TEXT-DECORATION:none}
A.toolbar:hover {COLOR:#666666;TEXT-DECORATION:underline}
A.toolbar:active {COLOR:#666666;TEXT-DECORATION:none}
A.navi1:link {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#ffffff;TEXT-DECORATION:none}
A.navi1:visited {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#ffffff;TEXT-DECORATION:none}
A.navi1:hover {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#ffffff;TEXT-DECORATION:underline}
A.navi1:active {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#ffffff;TEXT-DECORATION:none}
A.navi2:link {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#000000;TEXT-DECORATION:none}
A.navi2:visited {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#000000;TEXT-DECORATION:none}
A.navi2:hover {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#000000;TEXT-DECORATION:underline}
A.navi2:active {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#000000;TEXT-DECORATION:none}
.navi3 {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi3 {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
.navi3_active {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.navi3:link {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi3:visited {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi3:hover {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:underline}
.navi3:active {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
.navi4 {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi4 {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
.navi4_active {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.navi4:link {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi4:visited {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi4:hover {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:underline}
A.navi4:active {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi5 {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none;}
.navi5_active {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.navi5:link {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi5:visited {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi5:hover {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:underline}
A.navi5:active {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi6 {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none;}
.navi6_active {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.navi6:link {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi6:visited {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.navi6:hover {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:underline}
A.navi6:active {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.naviTitle:link {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#0033cc;TEXT-DECORATION:none}
A.naviTitle:visited {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#0033cc;TEXT-DECORATION:none}
A.naviTitle:hover {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#0033cc;TEXT-DECORATION:underline}
A.naviTitle:active {FONT-WEIGHT:bold;FONT-SIZE:12px;COLOR:#0033cc;TEXT-DECORATION:none}
A.listresult:link {COLOR:#000000;TEXT-DECORATION:underline}
A.listresult:visited {COLOR:#000000;TEXT-DECORATION:underline}
A.listresult:hover {COLOR:#000000;TEXT-DECORATION:underline}
A.listresult:active {COLOR:#000000;TEXT-DECORATION:underline}
.drop {FONT-SIZE:11px;WIDTH:140px;HEIGHT:18px}
.text {FONT-SIZE:11px;WIDTH:120px;HEIGHT:18px}
A.searchpage:link {COLOR:#0033cc;TEXT-DECORATION:none}
A.searchpage:visited {COLOR:#999999;TEXT-DECORATION:none}
A.searchpage:hover {COLOR:#0033cc;TEXT-DECORATION:underline}
A.searchpage:active {COLOR:#0033cc;TEXT-DECORATION:none}
.login {FONT-SIZE:10px;COLOR:#999999}
.searchfield {FONT-SIZE:10px;WIDTH:100px}
.loginfield {FONT-SIZE:12px;WIDTH:140px}
.firsttimeusers {FONT-SIZE:10px;WIDTH:170px}
.admintoolfield {FONT-SIZE:10px;WIDTH:140px}
.datefield {FONT-SIZE:11px;WIDTH:70px}
.dropdown {FONT-SIZE:11px;WIDTH:130px;}
A.topnavig:link {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.topnavig:visited {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.topnavig:hover {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:underline}
A.topnavig:active {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.footer {FONT-SIZE:11px;COLOR:#666666;TEXT-DECORATION:none}
A.footerhighlighted {FONT-SIZE:11px;COLOR:#999999;TEXT-DECORATION:none}
A.footerhighlighted:link {FONT-SIZE:11px;COLOR:#999999;TEXT-DECORATION:none}
A.footerhighlighted:visited {FONT-SIZE:11px;COLOR:#999999;TEXT-DECORATION:none}
A.footer:link {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.footer:active {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:none}
A.footer:visited {FONT-SIZE:11px;COLOR:#800080;TEXT-DECORATION:none}
A.footer:hover {FONT-SIZE:11px;COLOR:#0033cc;TEXT-DECORATION:underline}
.copyright {FONT-SIZE:10px;COLOR:#999999}
TD {FONT-WEIGHT:normal;FONT-SIZE:12px;COLOR:#000000;FONT-STYLE:normal;}
.smallcell {FONT-WEIGHT:normal;FONT-SIZE:10px;COLOR:#000000;FONT-STYLE:normal;}
td.teaser
{vertical-align:bottom;height:35px;padding:0 0 5px 0;}
div.teaser
{height:35px;margin:0;vertical-align:bottom;text-align:left;margin-bottom:6px;}
div.teaser_body
{margin:0px;padding:0px;margin-bottom:10px;}
td.teaser_body
{vertical-align:top;padding:0px 0px 5px 0px;}
td.teaser_image_block
{vertical-align:top;}
td.teaser_horizontal_spacing
{width:5px;}
td.teaser_vertical_spacing
{height:1px;}
div.teaser_image_block
{float:none;margin:0px 0px 5px 0px;}
div.teaser_heading_image_block
{margin:0px 0px 10px 0px;}
td.teaser_heading_image_block
{padding:0px 0px 10px 0px;}
td.heading_image_block
{padding:0px 0px 10px 0px;}
div.heading_image_block
{#float:left;margin:0px 5px 10px 0px;}
.editorialImage
{float:left;margin:0px 10px 5px 0px;}
.editorialImageLong
{float:none;margin:0px 0px 5px 0px;}
.faqCategory
{font-size:11px;font-family:Arial,Helvetica;height:18px;}
div.inlineP p
{display:inline;}
body
{}
div.sidebar_164
{width:164px;margin-bottom:10px;}
h4.sidebar_164_header
{background-image:url(http://r.nokia.com/s/green/pics/top_border_1.gif);background-repeat:no-repeat;background-position:0 0;color:#666666;font-size:12px;font-weight:bold;border-bottom:1px solid #cccccc;padding:3px 6px 2px 6px;margin:0;}
div.sidebar_164_content
{height:1%;border-left:1px solid #cccccc;border-right:1px solid #cccccc;padding:5px 5px 5px 5px;color:#666666;font-size:11px;}
div.sidebar_164_footer
{clear:both;width:164px;border:0px;background-image:url("/pics/bottom_border_1.gif");background-repeat:no-repeat;margin:0px 0px-8px 0px;}
div.sidebar_164 p
{margin:0;}
img.sidebar_image_62
{float:left;padding:0px 0px 5px 0px}
img.sidebar_image_152
{float:none;}
div.sidebar_text_62
{display:block;margin-left:67px;min-height:62px;}
div.sidebar_text_152
{float:none;}
ul.no_margin
{margin:0;padding:0;}
li.blue_square_bullet
{list-style-type:none;list-style-position:outside;background-image:url("/pics/li_dot_blu_1.gif");background-repeat:no-repeat;background-position:0 0.4em;margin:0;padding:0;padding-left:7px;}
div.content_Vertical_Seperater
{margin:0px 0px 10px 0px;padding:0;}
td.content_Vertical_Seperater
{margin:0px 0px 10px 0px;padding:0;}
header_PopUp_Vertical_Seperater
{height:10px;margin:0;padding:0;}
img.logo_nokia_pop_up
{float:left;}*.header_pop_up_mid
{padding-left:10px;padding-top:10px;border-bottom:2px solid #0033cc;text-align:right;}*.close_button
{text-align:right;padding-bottom:10px;padding-top:18px;margin-right:30px;}*.footer_pop_up_mid
{text-align:center;padding-top:10px;padding-bottom:4px;}
td.popUp_Content_Seperator_north
{height:10px}
div.toolbox_164
{width:164px;margin-bottom:0;font-size:11px;}
div.toolbox_164_plain_content
{padding:3px 0px 0px 5px;}
h4.toolbox_164_plain_header
{font-size:12px;margin:0;margin-left:4px;padding-bottom:1px;border-bottom:1px solid #cccccc;}
h4.toolbox_164_plain_header img
{border:none;}
img.toolbox_54_image
{float:left;margin-right:5px;}
div.toolbox_54_text
{margin-left:59px;min-height:60px;}
a.arrow_link
{height:1%;margin:0;padding:0;padding-left:7px;background-image:url(arrow_trans_1.gif);background-repeat:no-repeat;background-position:0 0.4em;}
